*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

/* Flex design */

.container-flex {
    display: flex;
}

/* Index header design */
header {
    margin: 1em;
}

.index-header div {
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
}

.index-header ul {
    list-style-type: none;
    font-size: 0.6rem;
    display: inline-flex;
}

.index-header li {
    margin-left: 3em;
}

.index-header h1 {
    font-size: 0.8rem;
}

nav a {
    text-decoration: none;
    color: black;
}

/* Index main area design */

.main-article-summary {
    background-image: url(background-image.jpg);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.main-article-summary .container-flex{
    line-height: 1.3;
    color: white;
    padding: 1em 0.5em;
    flex-direction: column;
    padding: 2em 1em;
}

.main-article-summary .date {
    margin-top: 4.5em;
}

.main-article-summary h1 {
    font-size: 2.15rem;
    margin-bottom: 0.5em;
}
.main-article-summary h1 a {
    text-decoration: none;
    color: white;
}

/*Article designs*/

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
}

article {
    max-width: 500px;
}

.container {
    margin: 1em;
    gap: 15px;
    flex-direction: column;
}
.container img {
    margin-top: 1.5em;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

.hidden-until-width {
    display: none;
}

/* General typography */
.date {
    text-transform: uppercase;
}

.more-info  {
    text-align: center;
    margin: 1.5em auto 3em auto;
    text-decoration: underline;
}

.text-max-width {
    max-width: 350px;
}

/* Footer style */

footer {
    background-color: #202020;
    color: white;
    text-align: center;
    padding: 3em 0;
    line-height: 1.5;
    font-weight: 700;
}

footer span {
    display: block;
    font-weight: 300;
    font-size: 0.85rem;
}

/* User accessibility */

a,
.main-article-summary h1 {
    cursor: pointer;
}

a:hover {
    color: violet;
}

footer,
article,
.more-info {
    user-select: none;
}

/* Second page design */


/* Second page typography */

.second-page-hero {
    margin-top: 3em;
}

.second-page-hero h1 {
    font-size: 2em;
    font-weight: 700;
    color: #252525;
}

.second-page-hero p{
    font-size: 1rem;
    line-height: 1.5;
}

.second-page-hero h2 {
    font-size: 1rem;
}

.recent-posts {
    text-align: center;
    margin: 3em 0 0 0;
    font-size: 1rem;
}


/* Final page (about-me) design */

.about-me-section .headshot {
    border-radius: 50%;
    width: 50%;
}
.about-me-section h1 {
    font-size: 2.3rem;
}

.about-me-section h2 {
    font-size: 1rem;
}
.about-me-section p {
    padding: 1em 0;
    line-height: 1.5;
}

/* Media queries */

@media (min-width: 780px) {
    .grid {
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    }

    .hidden-until-width {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(0px, 1fr));
    }

    .main-article-summary h1 {
        font-size: 4rem;
    }


    .main-article-summary {
        display: flex;
        align-items: start;
        justify-content: center;
        padding: 1em 4em;
    }

    .index-header ul {
        font-size: 1rem;
    }
    .index-header h1 {
        font-size: 2rem;
    }
    .second-page-hero {
        margin: auto;
    }
    .second-page-hero h1,
    .second-page-hero p,
    .second-page-hero h2 {
        margin: 0 8rem;
        max-width: 1000px;
    }
    .image-container {
        height: 500px;
        margin: 1em 2em 4em 2em;
    }

    .second-page-hero h2 {
        font-size: 1.5em;
    }
    .second-page-hero h1 {
        margin-bottom: 1em;
    }

    .about-me-section {
        margin-top: 7em;
    }
    .grid-about  {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 3em;
    }
    .headshot {
        max-width: 20%;
    }
    .block {
        display: block;
    }
    .grid-about p {
        margin-top: 1em;
        font-size: 1rem;
    }
    .about-me-section p,
    .content-info p{
        font-size: 1.2rem;
        line-height: 1.5;
    }
    .content-info h2 {
        font-size: 2rem;
        margin-bottom: 1em;
    }
    .content-info {
        margin: 0 5em;
    }
}